<ion-header>

  <ion-navbar color= "#212121">
    <button ion-button menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mesas</ion-title>
    <ion-buttons end> 
      <button ion-button icon-only color="light" (click)="deleteAll()" end>
        <ion-icon name="repeat"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<!-- <ion-content padding>
  <h4 *ngIf="loading">Loading...</h4>
  
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let table of allTables">
      <ion-thumbnail item-start>
        <img src="{{table.picture}}" />
      </ion-thumbnail>
      {{ table.name }}
      <ion-icon name="remove-circle" item-end (click)="deleteBeer(table)"></ion-icon>
      <ion-icon name="add-circle" item-end (click)="addBeer(table)"></ion-icon>
      <ion-icon name="close-circle" item-end (click)="closeTable(table)"></ion-icon>
      <p> Cervezas: <strong>{{ table.beerCount }}</strong></p>
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-content >
  <div class="leaderboard">
    <ion-list>
      <ion-item no-lines *ngFor="let table of activeTables">
        <ion-badge item-start color="light"> {{ table.numero }} </ion-badge>
        <mark>{{table.name}}</mark>
        <ion-icon name="remove-circle" item-end (click)="deleteBeer(table)" *ngIf="table.qrID"></ion-icon>
        <ion-icon name="add-circle" item-end (click)="addBeer(table)" *ngIf="table.qrID"></ion-icon>
        <ion-icon name="key" item-end (click)="closeTable(table)" *ngIf="table.qrID"></ion-icon>
        <p> Cervezas: <strong>{{ table.beerCount }}</strong></p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>